# Data Wrangling with Pandas

Now that we have been exposed to the basic functionality of Pandas, lets explore some more advanced features that will be useful when addressing more complex data management tasks.

As most statisticians/data analysts will admit, often the lion's share of the time spent implementing an analysis is devoted to preparing the data itself, rather than to coding or running a particular model that uses the data. This is where Pandas and  Python's standard library are beneficial, providing high-level, flexible, and efficient tools for manipulating your data as needed.

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Merging and joining DataFrame objects

In [5]:
df1 = pd.DataFrame(dict(id=range(3), age=np.random.randint(18, 31, size=3)))
df2 = pd.DataFrame(dict(ids=list(range(4))+list(range(4)), score=np.random.random(size=8)))

print (df1)
print (df2)

   id  age
0   0   20
1   1   23
2   2   25
   ids     score
0    0  0.829153
1    1  0.644134
2    2  0.290093
3    3  0.863888
4    0  0.839366
5    1  0.536434
6    2  0.791544
7    3  0.726239

In [6]:
print (pd.merge(df1, df2, left_on='id', right_on='ids')) # if two datasets have the same attribute ("id"), we use on="id"

   id  age  ids     score
0   0   20    0  0.829153
1   0   20    0  0.839366
2   1   23    1  0.644134
3   1   23    1  0.536434
4   2   25    2  0.290093
5   2   25    2  0.791544

Notice that without any information about which column to use as a key, Pandas did the right thing and used the `id` column in both tables. Unless specified otherwise, `merge` will used any common column names as keys for merging the tables. 

Notice also that `id=3` from `df2` was omitted from the merged table. This is because, by default, `merge` performs an **inner join** on the tables, meaning that the merged table represents an intersection of the two tables.

In [7]:
print (pd.merge(df2, df1, left_on='ids', right_on='id', how='left')) # left join

   ids     score   id   age
0    0  0.829153  0.0  20.0
1    1  0.644134  1.0  23.0
2    2  0.290093  2.0  25.0
3    3  0.863888  NaN   NaN
4    0  0.839366  0.0  20.0
5    1  0.536434  1.0  23.0
6    2  0.791544  2.0  25.0
7    3  0.726239  NaN   NaN

## Concatenation

A common data manipulation is appending rows or columns to a dataset that already conform to the dimensions of the exsiting rows or colums, respectively. In NumPy, this is done either with `concatenate` or the convenience functions `c_` and `r_`:

In [8]:
np.concatenate([np.random.random(5), np.random.random(5)])

array([0.78870397, 0.49517698, 0.68777353, 0.41144408, 0.87775921,
       0.13337391, 0.57270597, 0.9528105 , 0.81216721, 0.47305147])

In [9]:
np.r_[np.random.random(5), np.random.random(5)]

array([0.02706019, 0.13406558, 0.85947921, 0.97295962, 0.10880442,
       0.00243436, 0.27231942, 0.368456  , 0.42147667, 0.56402122])

In [10]:
np.c_[np.random.random(5), np.random.random(5)]

array([[0.60801669, 0.87500376],
       [0.7983575 , 0.50378592],
       [0.18031096, 0.32311452],
       [0.97994662, 0.69107102],
       [0.98558499, 0.60284577]])

This operation is also called *binding* or *stacking*.

With Pandas' indexed data structures, there are additional considerations as the overlap in index values between two data structures affects how they are concatenate.

Lets import two microbiome datasets, each consisting of counts of microorganiams from a particular patient. We will use the first column of each dataset as the index.

In [11]:
mb1 = pd.read_csv('MID1.csv', header=None)
mb2 = pd.read_csv('MID2.csv',header=None)
mb1.shape, mb2.shape

((272, 2), (288, 2))

In [12]:
mb1.head()

                                                   0  1
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...  7
1  Archaea "Crenarchaeota" Thermoprotei Desulfuro...  2
2  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...  3
3  Archaea "Crenarchaeota" Thermoprotei Thermopro...  3
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...  7

Let's give the index and columns meaningful labels:

In [13]:
mb1.columns = mb2.columns = ['Taxon','Count']

In [14]:
mb1.head()

                                               Taxon  Count
0  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      7
1  Archaea "Crenarchaeota" Thermoprotei Desulfuro...      2
2  Archaea "Crenarchaeota" Thermoprotei Sulfoloba...      3
3  Archaea "Crenarchaeota" Thermoprotei Thermopro...      3
4  Archaea "Euryarchaeota" "Methanomicrobia" Meth...      7

The index of these data is the unique biological classification of each organism, beginning with *domain*, *phylum*, *class*, and for some organisms, going all the way down to the genus level.

![classification](http://upload.wikimedia.org/wikipedia/commons/thumb/a/a5/Biological_classification_L_Pengo_vflip.svg/150px-Biological_classification_L_Pengo_vflip.svg.png)

In [15]:
mb1.index[:3]

RangeIndex(start=0, stop=3, step=1)

In [16]:
mb1.index.is_unique

True

If we concatenate along `axis=0` (the default), we will obtain another data frame with the the rows concatenated:

In [17]:
pd.concat([mb1, mb2], axis=0).shape

(560, 2)

However, the index is no longer unique, due to overlap between the two DataFrames.

In [18]:
pd.concat([mb1, mb2], axis=0).index.is_unique

False

Concatenating along `axis=1` will concatenate column-wise, but respecting the indices of the two DataFrames.

In [19]:
pd.concat([mb1, mb2], axis=1).shape

(288, 4)

In [20]:
pd.concat([mb1, mb2], axis=1).head()

,Taxon,Count,Taxon,Count
0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",7.0,"Archaea ""Crenarchaeota"" Thermoprotei Acidiloba...",2
1,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",2.0,"Archaea ""Crenarchaeota"" Thermoprotei Acidiloba...",14
2,"Archaea ""Crenarchaeota"" Thermoprotei Sulfoloba...",3.0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",23
3,"Archaea ""Crenarchaeota"" Thermoprotei Thermopro...",3.0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",1
4,"Archaea ""Euryarchaeota"" ""Methanomicrobia"" Meth...",7.0,"Archaea ""Crenarchaeota"" Thermoprotei Desulfuro...",2

## Create crosstab tables

In [21]:
baseball = pd.read_csv("baseball.csv")
pd.crosstab(baseball.team, baseball.year)

year  2006  2007
team
ARI      1     3
ATL      0     4
BAL      0     2
BOS      1     6
CHA      0     1
CHN      1     2
CIN      0     6
CLE      0     3
COL      0     2
DET      0     5
FLO      0     1
HOU      0     4
KCA      0     1
LAA      0     1
LAN      1     8
MIL      2     2
MIN      0     2
NYA      2     4
NYN      0    12
OAK      0     3
PHI      0     3
SDN      0     3
SFN      1     5
SLN      0     3
TBA      0     1
TEX      0     2
TOR      0     4

## Data transformation

There are a slew of additional operations for DataFrames that we would collectively refer to as "transformations" that include tasks such as removing duplicate values, replacing values, and grouping values.

### Dealing with duplicates

We can easily identify and remove duplicate values from `DataFrame` objects.

In [22]:
baseball.duplicated(subset=['player','year'])

0      False
1      False
2      False
3      False
4       True
5      False
6      False
7      False
8      False
9      False
10      True
11      True
12     False
13     False
14     False
15     False
16      True
17     False
18     False
19     False
20      True
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28      True
29     False
       ...
72     False
73     False
74     False
75     False
76     False
77     False
78     False
79      True
80     False
81     False
82     False
83     False
84     False
85     False
86     False
87     False
88     False
89      True
90     False
91     False
92      True
93     False
94      True
95     False
96     False
97     False
98      True
99     False
100    False
101    False
Length: 102, dtype: bool

In [23]:
baseball.drop_duplicates(['player','year'])

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
0,88641,womacto01,2006,2,CHN,NL,19,50,6,14,...,2,1,1,4,4,0,0,3,0,0
1,88643,schilcu01,2006,1,BOS,AL,31,2,0,1,...,0,0,0,0,1,0,0,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,88648,helliri01,2006,1,MIL,NL,20,3,0,0,...,0,0,0,0,2,0,0,0,0,0
5,88650,johnsra05,2006,1,NYA,AL,33,6,0,1,...,0,0,0,0,4,0,0,0,0,0
6,88652,finlest01,2006,1,SFN,NL,139,426,66,105,...,40,7,0,46,55,2,2,3,4,6
7,88653,gonzalu01,2006,1,ARI,NL,153,586,93,159,...,73,0,1,69,58,10,7,0,6,14
8,88662,seleaa01,2006,1,LAN,NL,28,26,2,5,...,0,0,0,1,7,0,0,6,0,1
9,89176,francju01,2007,2,ATL,NL,15,40,1,10,...,8,0,0,4,10,1,0,0,1,1
12,89330,zaungr01,2007,1,TOR,AL,110,331,43,80,...,52,0,0,51,55,8,2,1,6,9
13,89333,witasja01,2007,1,TBA,AL,3,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,89334,williwo02,2007,1,HOU,NL,33,59,3,6,...,2,0,0,0,25,0,0,5,0,1
15,89335,wickmbo01,2007,2,ARI,NL,8,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17,89337,whitero02,2007,1,MIN,AL,38,109,8,19,...,20,0,0,6,19,0,3,0,1,2
18,89338,whiteri01,2007,1,HOU,NL,20,1,0,0,...,0,0,0,0,1,0,0,0,0,0
19,89339,wellsda01,2007,2,LAN,NL,7,15,2,4,...,1,0,0,0,6,0,0,0,0,0
21,89341,weathda01,2007,1,CIN,NL,67,0,0,0,...,0,0,0,0,0,0,0,0,0,0
22,89343,walketo04,2007,1,OAK,AL,18,48,5,13,...,4,0,0,2,4,0,0,0,2,2
23,89345,wakefti01,2007,1,BOS,AL,1,2,0,0,...,0,0,0,0,2,0,0,0,0,0
24,89347,vizquom01,2007,1,SFN,NL,145,513,54,126,...,51,14,6,44,48,6,1,14,3,14
25,89348,villoro01,2007,1,NYA,AL,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
26,89352,valenjo03,2007,1,NYN,NL,51,166,18,40,...,18,2,1,15,28,4,0,1,1,5
27,89354,trachst01,2007,2,CHN,NL,4,7,0,1,...,0,0,0,0,1,0,0,0,0,0
29,89359,timlimi01,2007,1,BOS,AL,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30,89360,thomeji01,2007,1,CHA,AL,130,432,79,119,...,96,0,1,95,134,11,6,0,3,10
31,89361,thomafr04,2007,1,TOR,AL,155,531,63,147,...,95,0,0,81,94,3,7,0,5,14
32,89363,tavarju01,2007,1,BOS,AL,2,4,0,1,...,0,0,0,1,3,0,0,0,0,0
33,89365,sweenma01,2007,2,LAN,NL,30,33,2,9,...,3,0,0,1,11,0,0,0,0,0
35,89367,suppaje01,2007,1,MIL,NL,33,61,4,8,...,2,0,0,3,16,0,0,11,0,2
36,89368,stinnke01,2007,1,SLN,NL,26,82,7,13,...,5,0,0,5,22,2,0,0,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,89439,kentje01,2007,1,LAN,NL,136,494,78,149,...,79,1,3,57,61,4,5,0,6,17
67,89442,jonesto02,2007,1,DET,AL,5,0,0,0,...,0,0,0,0,0,0,0,0,0,0
68,89445,johnsra05,2007,1,ARI,NL,10,15,0,1,...,0,0,0,1,7,0,0,2,0,0
69,89450,hoffmtr01,2007,1,SDN,NL,60,0,0,0,...,0,0,0,0,0,0,0,0,0,0
70,89451,hernaro01,2007,2,LAN,NL,22,0,0,0,...,0,0,0,0,0,0,0,0,0,0
72,89460,guarded01,2007,1,CIN,NL,15,0,0,0,...,0,0,0,0,0,0,0,0,0,0
73,89462,griffke02,2007,1,CIN,NL,144,528,78,146,...,93,6,1,85,99,14,1,0,9,14
74,89463,greensh01,2007,1,NYN,NL,130,446,62,130,...,46,11,1,37,62,4,5,1,1,14
75,89464,graffto01,2007,1,MIL,NL,86,231,34,55,...,30,0,1,24,44,6,3,0,2,7
76,89465,gordoto01,2007,1,PHI,NL,44,0,0,0,...,0,0,0,0,0,0,0,0,0,0
77,89466,gonzalu01,2007,1,LAN,NL,139,464,70,129,...,68,6,2,56,56,4,4,0,2,11
78,89467,gomezch02,2007,2,CLE,AL,19,53,4,15,...,5,0,0,0,6,0,0,1,1,1
80,89469,glavito02,2007,1,NYN,NL,33,56,3,12,...,4,0,0,6,5,0,0,12,1,0
81,89473,floydcl01,2007,1,CHN,NL,108,282,40,80,...,45,0,0,35,47,5,5,0,0,6
82,89474,finlest01,2007,1,COL,NL,43,94,9,17,...,2,0,0,8,4,1,0,0,0,2
83,89480,embreal01,2007,1,OAK,AL,4,0,0,0,...,0,0,0,0,0,0,0,0,0,0
84,89481,edmonji01,2007,1,SLN,NL,117,365,39,92,...,53,0,2,41,75,2,0,2,3,9
85,89482,easleda01,2007,1,NYN,NL,76,193,24,54,...,26,0,1,19,35,1,5,0,1,2
86,89489,delgaca01,2007,1,NYN,NL,139,538,71,139,...,87,4,0,52,118,8,11,0,6,12
87,89493,cormirh01,2007,1,CIN,NL,6,0,0,0,...,0,0,0,0,0,0,0,0,0,0
88,89494,coninje01,2007,2,NYN,NL,21,41,2,8,...,5,0,0,7,8,2,0,1,1,1
90,89497,clemero02,2007,1,NYA,AL,2,2,0,1,...,0,0,0,0,0,0,0,0,0,0
91,89498,claytro01,2007,2,BOS,AL,8,6,1,0,...,0,0,0,0,3,0,0,0,0,2
93,89501,cirilje01,2007,2,ARI,NL,28,40,6,8,...,6,0,0,4,6,0,0,0,0,1
95,89521,bondsba01,2007,1,SFN,NL,126,340,75,94,...,66,5,0,132,54,43,3,0,2,13
96,89523,biggicr01,2007,1,HOU,NL,141,517,68,130,...,50,4,3,23,112,0,3,7,5,5
97,89525,benitar01,2007,2,FLO,NL,34,0,0,0,...,0,0,0,0,0,0,0,0,0,0
99,89530,ausmubr01,2007,1,HOU,NL,117,349,38,82,...,25,6,1,37,74,3,6,4,1,11
100,89533,aloumo01,2007,1,NYN,NL,87,328,51,112,...,49,3,0,27,30,5,2,0,3,13
101,89534,alomasa02,2007,1,NYN,NL,8,22,1,3,...,0,0,0,0,3,0,0,0,0,0

### Value replacement

Frequently, we get data columns that are encoded as strings that we wish to represent numerically for the purposes of including it in a quantitative analysis.

In [24]:
cdystonia= pd.read_csv("cdystonia.csv")
cdystonia.treat.value_counts()

10000U     213
5000U      211
Placebo    207
Name: treat, dtype: int64

A logical way to specify these numerically is to change them to integer values, perhaps using "Placebo" as a baseline value. If we create a dict with the original values as keys and the replacements as values, we can pass it to the `map` method to implement the changes.

In [25]:
treatment_map = {'Placebo': 0, '5000U': 1, '10000U': 2}

In [26]:
cdystonia['treatment'] = cdystonia.treat.map(treatment_map)
cdystonia.treatment

0      1
1      1
2      1
3      1
4      1
5      1
6      2
7      2
8      2
9      2
10     2
11     2
12     1
13     1
14     1
15     1
16     1
17     1
18     0
19     0
20     0
21     0
22     2
23     2
24     2
25     2
26     2
27     2
28     2
29     2
      ..
601    2
602    2
603    2
604    0
605    0
606    0
607    0
608    0
609    0
610    1
611    1
612    1
613    1
614    1
615    1
616    2
617    2
618    2
619    2
620    2
621    2
622    2
623    2
624    2
625    2
626    1
627    1
628    1
629    1
630    1
Name: treatment, Length: 631, dtype: int64

### Inidcator (dummy) variables

For some statistical analyses (*e.g.* regression models or analyses of variance), categorical or group variables need to be converted into columns of indicators--zeros and ones--to create a so-called **design matrix**. The Pandas function `get_dummies` (indicator variables are also known as *dummy variables*) makes this transformation straightforward.

In [27]:

print (pd.get_dummies(baseball.team,prefix='team').head(3))
print (baseball.head(3))
baseball2 = baseball.copy()
print (baseball2.head(3))
print (pd.get_dummies(baseball2).head(3))

   team_ARI  team_ATL  team_BAL  team_BOS  team_CHA  team_CHN  team_CIN  \
0         0         0         0         0         0         1         0
1         0         0         0         1         0         0         0
2         0         0         0         0         0         0         0

   team_CLE  team_COL  team_DET    ...     team_NYA  team_NYN  team_OAK  \
0         0         0         0    ...            0         0         0
1         0         0         0    ...            0         0         0
2         0         0         0    ...            1         0         0

   team_PHI  team_SDN  team_SFN  team_SLN  team_TBA  team_TEX  team_TOR
0         0         0         0         0         0         0         0
1         0         0         0         0         0         0         0
2         0         0         0         0         0         0         0

[3 rows x 27 columns]
      id     player  year  stint team  lg   g  ab  r   h  ...   rbi  sb  cs  \
0  88641  womacto01  2006      2  CHN  NL  19  50  6  14  ...     2   1   1
1  88643  schilcu01  2006      1  BOS  AL  31   2  0   1  ...     0   0   0
2  88645  myersmi01  2006      1  NYA  AL  62   0  0   0  ...     0   0   0

   bb  so  ibb  hbp  sh  sf  gidp
0   4   4    0    0   3   0     0
1   0   1    0    0   0   0     0
2   0   0    0    0   0   0     0

[3 rows x 23 columns]
      id     player  year  stint team  lg   g  ab  r   h  ...   rbi  sb  cs  \
0  88641  womacto01  2006      2  CHN  NL  19  50  6  14  ...     2   1   1
1  88643  schilcu01  2006      1  BOS  AL  31   2  0   1  ...     0   0   0
2  88645  myersmi01  2006      1  NYA  AL  62   0  0   0  ...     0   0   0

   bb  so  ibb  hbp  sh  sf  gidp
0   4   4    0    0   3   0     0
1   0   1    0    0   0   0     0
2   0   0    0    0   0   0     0

[3 rows x 23 columns]
      id  year  stint   g  ab  r   h  X2b  X3b  hr  ...    team_OAK  team_PHI  \
0  88641  2006      2  19  50  6  14    1    0   1  ...           0         0
1  88643  2006      1  31   2  0   1    0    0   0  ...           0         0
2  88645  2006      1  62   0  0   0    0    0   0  ...           0         0

   team_SDN  team_SFN  team_SLN  team_TBA  team_TEX  team_TOR  lg_AL  lg_NL
0         0         0         0         0         0         0      0      1
1         0         0         0         0         0         0      1      0
2         0         0         0         0         0         0      1      0

[3 rows x 131 columns]

### Discretization

Pandas' `cut` function can be used to group continuous or countable data in to bins. Discretization is generally a very **bad idea** for statistical analysis, so use this function responsibly!

Lets say we want to bin the ages of the cervical dystonia patients into a smaller number of groups:

In [28]:
cdystonia.age.describe()

count    631.000000
mean      55.616482
std       12.123910
min       26.000000
25%       46.000000
50%       56.000000
75%       65.000000
max       83.000000
Name: age, dtype: float64

Let's transform these data into decades, beginnnig with individuals in their 20's and ending with those in their 90's:

In [29]:
pd.cut(cdystonia.age, [20,30,40,50,60,70,80,90])[:30]

0     (60, 70]
1     (60, 70]
2     (60, 70]
3     (60, 70]
4     (60, 70]
5     (60, 70]
6     (60, 70]
7     (60, 70]
8     (60, 70]
9     (60, 70]
10    (60, 70]
11    (60, 70]
12    (60, 70]
13    (60, 70]
14    (60, 70]
15    (60, 70]
16    (60, 70]
17    (60, 70]
18    (50, 60]
19    (50, 60]
20    (50, 60]
21    (50, 60]
22    (70, 80]
23    (70, 80]
24    (70, 80]
25    (70, 80]
26    (70, 80]
27    (70, 80]
28    (50, 60]
29    (50, 60]
Name: age, dtype: category
Categories (7, interval[int64]): [(20, 30] < (30, 40] < (40, 50] < (50, 60] < (60, 70] < (70, 80] < (80, 90]]

The parentheses indicate an open interval, meaning that the interval includes values up to but *not including* the endpoint, whereas the square bracket is a closed interval, where the endpoint is included in the interval. We can switch the closure to the left side by setting the `right` flag to `False`:

In [30]:
pd.cut(cdystonia.age, [20,30,40,50,60,70,80,90], right=False)[:30]

0     [60, 70)
1     [60, 70)
2     [60, 70)
3     [60, 70)
4     [60, 70)
5     [60, 70)
6     [70, 80)
7     [70, 80)
8     [70, 80)
9     [70, 80)
10    [70, 80)
11    [70, 80)
12    [60, 70)
13    [60, 70)
14    [60, 70)
15    [60, 70)
16    [60, 70)
17    [60, 70)
18    [50, 60)
19    [50, 60)
20    [50, 60)
21    [50, 60)
22    [70, 80)
23    [70, 80)
24    [70, 80)
25    [70, 80)
26    [70, 80)
27    [70, 80)
28    [50, 60)
29    [50, 60)
Name: age, dtype: category
Categories (7, interval[int64]): [[20, 30) < [30, 40) < [40, 50) < [50, 60) < [60, 70) < [70, 80) < [80, 90)]

Since the data are now **ordinal**, rather than numeric, we can give them labels:

In [31]:
pd.cut(cdystonia.age, [20,40,60,80,90], labels=['young','middle-aged','old','ancient'])[:30]

0             old
1             old
2             old
3             old
4             old
5             old
6             old
7             old
8             old
9             old
10            old
11            old
12            old
13            old
14            old
15            old
16            old
17            old
18    middle-aged
19    middle-aged
20    middle-aged
21    middle-aged
22            old
23            old
24            old
25            old
26            old
27            old
28    middle-aged
29    middle-aged
Name: age, dtype: category
Categories (4, object): [young < middle-aged < old < ancient]

A related function `qcut` uses empirical quantiles to divide the data. If, for example, we want the quartiles -- (0-25%], (25-50%], (50-70%], (75-100%] -- we can just specify 4 intervals, which will be equally-spaced by default:

In [32]:
age_quantiles = pd.qcut(cdystonia.age, 4)[:30]

Alternatively, one can specify custom quantiles to act as cut points:

Note that you can easily combine discretiztion with the generation of indicator variables shown above:

In [33]:
pd.get_dummies(age_quantiles).head(10)

   (25.999, 46.0]  (46.0, 56.0]  (56.0, 65.0]  (65.0, 83.0]
0               0             0             1             0
1               0             0             1             0
2               0             0             1             0
3               0             0             1             0
4               0             0             1             0
5               0             0             1             0
6               0             0             0             1
7               0             0             0             1
8               0             0             0             1
9               0             0             0             1

### Permutation and sampling

For some data analysis tasks, such as simulation, we need to be able to randomly reorder our data, or draw random values from it. Calling NumPy's `permutation` function with the length of the sequence you want to permute generates an array with a permuted sequence of integers, which can be used to re-order the sequence.

In [34]:
new_order = np.random.permutation(len(baseball))
new_order[:30]

array([ 12,  76,   2,  85,  45,  87,  27,   7,  82,  32,  79,  55,  96,
        75, 100,  50,  73,  84,   4,  17,  62,  38,  52,  28,   5,  19,
        22,  54,  60,  94])

Using this sequence as an argument to the `take` method results in a reordered DataFrame:

In [35]:
baseball.take(new_order).head()

,id,player,year,stint,team,lg,g,ab,r,h,...,rbi,sb,cs,bb,so,ibb,hbp,sh,sf,gidp
12,89330,zaungr01,2007,1,TOR,AL,110,331,43,80,...,52,0,0,51,55,8,2,1,6,9
76,89465,gordoto01,2007,1,PHI,NL,44,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,88645,myersmi01,2006,1,NYA,AL,62,0,0,0,...,0,0,0,0,0,0,0,0,0,0
85,89482,easleda01,2007,1,NYN,NL,76,193,24,54,...,26,0,1,19,35,1,5,0,1,2
45,89383,schmija01,2007,1,LAN,NL,6,7,1,1,...,1,0,0,0,4,0,0,1,0,0

## Data aggregation and GroupBy operations

One of the most powerful features of Pandas is its **GroupBy** functionality. On occasion we may want to perform operations on *groups* of observations within a dataset. For exmaple:

* **aggregation**, such as computing the sum of mean of each group, which involves applying a function to each group and returning the aggregated results
* **slicing** the DataFrame into groups and then doing something with the resulting slices (*e.g.* plotting)
* group-wise **transformation**, such as standardization/normalization

In [45]:
cdystonia_grouped = cdystonia.groupby(cdystonia.patient,as_index=False)

This *grouped* dataset is hard to visualize

In [46]:
cdystonia_grouped

However, the grouping is only an intermediate step; for example, we may want to **iterate** over each of the patient groups:

In [38]:
for patient, group in cdystonia_grouped:
    print (patient)
    print (group)

1
   patient  obs  week  site  id  treat  age sex  twstrs  treatment
0        1    1     0     1   1  5000U   65   F      32          1
1        1    2     2     1   1  5000U   65   F      30          1
2        1    3     4     1   1  5000U   65   F      24          1
3        1    4     8     1   1  5000U   65   F      37          1
4        1    5    12     1   1  5000U   65   F      39          1
5        1    6    16     1   1  5000U   65   F      36          1
2
    patient  obs  week  site  id   treat  age sex  twstrs  treatment
6         2    1     0     1   2  10000U   70   F      60          2
7         2    2     2     1   2  10000U   70   F      26          2
8         2    3     4     1   2  10000U   70   F      27          2
9         2    4     8     1   2  10000U   70   F      41          2
10        2    5    12     1   2  10000U   70   F      65          2
11        2    6    16     1   2  10000U   70   F      67          2
3
    patient  obs  week  site  id  treat  age sex  twstrs  treatment
12        3    1     0     1   3  5000U   64   F      44          1
13        3    2     2     1   3  5000U   64   F      20          1
14        3    3     4     1   3  5000U   64   F      23          1
15        3    4     8     1   3  5000U   64   F      26          1
16        3    5    12     1   3  5000U   64   F      35          1
17        3    6    16     1   3  5000U   64   F      35          1
4
    patient  obs  week  site  id    treat  age sex  twstrs  treatment
18        4    1     0     1   4  Placebo   59   F      53          0
19        4    2     2     1   4  Placebo   59   F      61          0
20        4    3     4     1   4  Placebo   59   F      64          0
21        4    4     8     1   4  Placebo   59   F      62          0
5
    patient  obs  week  site  id   treat  age sex  twstrs  treatment
22        5    1     0     1   5  10000U   76   F      53          2
23        5    2     2     1   5  10000U   76   F      35          2
24        5    3     4     1   5  10000U   76   F      48          2
25        5    4     8     1   5  10000U   76   F      49          2
26        5    5    12     1   5  10000U   76   F      41          2
27        5    6    16     1   5  10000U   76   F      51          2
6
    patient  obs  week  site  id   treat  age sex  twstrs  treatment
28        6    1     0     1   6  10000U   59   F      49          2
29        6    2     2     1   6  10000U   59   F      34          2
30        6    3     4     1   6  10000U   59   F      43          2
31        6    4     8     1   6  10000U   59   F      48          2
32        6    5    12     1   6  10000U   59   F      48          2
33        6    6    16     1   6  10000U   59   F      51          2
7
    patient  obs  week  site  id  treat  age sex  twstrs  treatment
34        7    1     0     1   7  5000U   72   M      42          1
35        7    2     2     1   7  5000U   72   M      32          1
36        7    3     4     1   7  5000U   72   M      32          1
37        7    4     8     1   7  5000U   72   M      43          1
38        7    5    12     1   7  5000U   72   M      42          1
39        7    6    16     1   7  5000U   72   M      46          1
8
    patient  obs  week  site  id    treat  age sex  twstrs  treatment
40        8    1     0     1   8  Placebo   40   M      34          0
41        8    2     2     1   8  Placebo   40   M      33          0
42        8    3     4     1   8  Placebo   40   M      21          0
43        8    4     8     1   8  Placebo   40   M      27          0
44        8    5    12     1   8  Placebo   40   M      32          0
45        8    6    16     1   8  Placebo   40   M      38          0
9
    patient  obs  week  site  id  treat  age sex  twstrs  treatment
46        9    1     0     1   9  5000U   52   F      41          1
47        9    2     2     1   9  5000U   52   F      32          1
48        9    3     4     1   9  5000U   52   F      34          1
49        9    4     8     1   9  5000U   52   F      35          1
50        9    5    12     1   9  5000U   52   F      37          1
51        9    6    16     1   9  5000U   52   F      36          1
10
    patient  obs  week  site  id    treat  age sex  twstrs  treatment
52       10    1     0     1  10  Placebo   47   M      27          0
53       10    2     2     1  10  Placebo   47   M      10          0
54       10    3     4     1  10  Placebo   47   M      31          0
55       10    4     8     1  10  Placebo   47   M      32          0
56       10    5    12     1  10  Placebo   47   M       6          0
57       10    6    16     1  10  Placebo   47   M      14          0
11
    patient  obs  week  site  id   treat  age sex  twstrs  treatment
58       11    1     0     1  11  10000U   57   F      48          2
59       11    2     2     1  11  10000U   57   F      41          2
60       11    3     4     1  11  10000U   57   F      32          2
61       11    4     8     1  11  10000U   57   F      35          2
62       11    5    12     1  11  10000U   57   F      57          2
63       11    6    16     1  11  10000U   57   F      51          2
12
    patient  obs  week  site  id    treat  age sex  twstrs  treatment
64       12    1     0     1  12  Placebo   47   F      34          0
65       12    2     2     1  12  Placebo   47   F      19          0
66       12    3     4     1  12  Placebo   47   F      21          0
67       12    4     8     1  12  Placebo   47   F      24          0
68       12    5    12     1  12  Placebo   47   F      28          0
69       12    6    16     1  12  Placebo   47   F      28          0
13
    patient  obs  week  site  id    treat  age sex  twstrs  treatment
70       13    1     0     2   1  Placebo   70   F      49          0
71       13    2     2     2   1  Placebo   70   F      47          0
72       13    3     4     2   1  Placebo   70   F      44          0
73       13    4     8     2   1  Placebo   70   F      48          0
74       13    5    12     2   1  Placebo   70   F      44          0
75       13    6    16     2   1  Placebo   70   F      44          0
14
    patient  obs  week  site  id  treat  age sex  twstrs  treatment
76       14    1     0     2   2  5000U   49   F      46          1
77       14    2     2     2   2  5000U   49   F      35          1
78       14    3     4     2   2  5000U   49   F      45          1
79       14    4     8     2   2  5000U   49   F      49          1
80       14    5    12     2   2  5000U   49   F      53          1
81       14    6    16     2   2  5000U   49   F      56          1
15
    patient  obs  week  site  id   treat  age sex  twstrs  treatment
82       15    1     0     2   3  10000U   59   F      56          2
83       15    2     2     2   3  10000U   59   F      44          2
84       15    3     4     2   3  10000U   59   F      48          2
85       15    4     8     2   3  10000U   59   F      54          2
86       15    5    12     2   3  10000U   59   F      49          2
87       15    6    16     2   3  10000U   59   F      60          2
16
    patient  obs  week  site  id  treat  age sex  twstrs  treatment
88       16    1     0     2   4  5000U   64   M      59          1
89       16    2     2     2   4  5000U   64   M      48          1
90       16    3     4     2   4  5000U   64   M      56          1
91       16    4     8     2   4  5000U   64   M      55          1
92       16    5    12     2   4  5000U   64   M      57          1
93       16    6    16     2   4  5000U   64   M      58          1
17
    patient  obs  week  site  id   treat  age sex  twstrs  treatment
94       17    1     0     2   5  10000U   45   F      62          2
95       17    2     2     2   5  10000U   45   F      60          2
96       17    3     4     2   5  10000U   45   F      60          2
97       17    4     8     2   5  10000U   45   F      64          2
98       17    5    12     2   5  10000U   45   F      67          2
99       17    6    16     2   5  10000U   45   F      66          2
18
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
100       18    1     0     2   6  Placebo   66   F      50          0
101       18    2     2     2   6  Placebo   66   F      53          0
102       18    3     4     2   6  Placebo   66   F      52          0
103       18    4     8     2   6  Placebo   66   F      57          0
104       18    5    12     2   6  Placebo   66   F      61          0
105       18    6    16     2   6  Placebo   66   F      54          0
19
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
106       19    1     0     2   7  10000U   49   F      42          2
107       19    2     2     2   7  10000U   49   F      42          2
108       19    3     4     2   7  10000U   49   F      43          2
109       19    4     8     2   7  10000U   49   F      33          2
110       19    5    12     2   7  10000U   49   F      37          2
111       19    6    16     2   7  10000U   49   F      43          2
20
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
112       20    1     0     2   8  Placebo   54   F      53          0
113       20    2     2     2   8  Placebo   54   F      56          0
114       20    3     4     2   8  Placebo   54   F      52          0
115       20    4     8     2   8  Placebo   54   F      54          0
116       20    5    12     2   8  Placebo   54   F      55          0
117       20    6    16     2   8  Placebo   54   F      51          0
21
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
118       21    1     0     2   9  5000U   47   F      67          1
119       21    2     2     2   9  5000U   47   F      64          1
120       21    3     4     2   9  5000U   47   F      65          1
121       21    4     8     2   9  5000U   47   F      64          1
122       21    5    12     2   9  5000U   47   F      62          1
123       21    6    16     2   9  5000U   47   F      64          1
22
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
124       22    1     0     2  10  Placebo   31   M      44          0
125       22    2     2     2  10  Placebo   31   M      40          0
126       22    3     4     2  10  Placebo   31   M      32          0
127       22    4     8     2  10  Placebo   31   M      36          0
128       22    5    12     2  10  Placebo   31   M      42          0
129       22    6    16     2  10  Placebo   31   M      43          0
23
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
130       23    1     0     2  11  10000U   53   F      65          2
131       23    2     2     2  11  10000U   53   F      58          2
132       23    3     4     2  11  10000U   53   F      55          2
133       23    5    12     2  11  10000U   53   F      56          2
134       23    6    16     2  11  10000U   53   F      60          2
24
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
135       24    1     0     2  12  5000U   61   M      56          1
136       24    2     2     2  12  5000U   61   M      54          1
137       24    3     4     2  12  5000U   61   M      52          1
138       24    4     8     2  12  5000U   61   M      48          1
139       24    5    12     2  12  5000U   61   M      52          1
140       24    6    16     2  12  5000U   61   M      53          1
25
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
141       25    1     0     2  13  Placebo   40   M      30          0
142       25    2     2     2  13  Placebo   40   M      33          0
143       25    3     4     2  13  Placebo   40   M      25          0
144       25    4     8     2  13  Placebo   40   M      29          0
145       25    5    12     2  13  Placebo   40   M      32          0
146       25    6    16     2  13  Placebo   40   M      32          0
26
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
147       26    1     0     2  14  5000U   67   M      47          1
148       26    3     4     2  14  5000U   67   M      54          1
149       26    4     8     2  14  5000U   67   M      43          1
150       26    5    12     2  14  5000U   67   M      46          1
151       26    6    16     2  14  5000U   67   M      50          1
27
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
152       27    1     0     3   1  10000U   54   F      50          2
153       27    2     2     3   1  10000U   54   F      43          2
154       27    3     4     3   1  10000U   54   F      51          2
155       27    4     8     3   1  10000U   54   F      46          2
156       27    5    12     3   1  10000U   54   F      49          2
157       27    6    16     3   1  10000U   54   F      53          2
28
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
158       28    1     0     3   2  Placebo   41   F      34          0
159       28    2     2     3   2  Placebo   41   F      29          0
160       28    3     4     3   2  Placebo   41   F      27          0
161       28    4     8     3   2  Placebo   41   F      21          0
162       28    5    12     3   2  Placebo   41   F      22          0
163       28    6    16     3   2  Placebo   41   F      22          0
29
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
164       29    1     0     3   3  5000U   66   M      39          1
165       29    2     2     3   3  5000U   66   M      41          1
166       29    3     4     3   3  5000U   66   M      33          1
167       29    4     8     3   3  5000U   66   M      39          1
168       29    5    12     3   3  5000U   66   M      37          1
169       29    6    16     3   3  5000U   66   M      37          1
30
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
170       30    1     0     3   4  Placebo   68   F      43          0
171       30    2     2     3   4  Placebo   68   F      31          0
172       30    3     4     3   4  Placebo   68   F      29          0
173       30    4     8     3   4  Placebo   68   F      28          0
174       30    5    12     3   4  Placebo   68   F      33          0
175       30    6    16     3   4  Placebo   68   F      38          0
31
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
176       31    1     0     3   5  10000U   41   F      46          2
177       31    2     2     3   5  10000U   41   F      26          2
178       31    3     4     3   5  10000U   41   F      29          2
179       31    4     8     3   5  10000U   41   F      33          2
180       31    5    12     3   5  10000U   41   F      45          2
181       31    6    16     3   5  10000U   41   F      56          2
32
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
182       32    1     0     3   6  5000U   77   M      52          1
183       32    2     2     3   6  5000U   77   M      44          1
184       32    3     4     3   6  5000U   77   M      47          1
185       32    4     8     3   6  5000U   77   M      50          1
186       32    5    12     3   6  5000U   77   M      50          1
187       32    6    16     3   6  5000U   77   M      49          1
33
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
188       33    1     0     3   7  10000U   41   M      38          2
189       33    2     2     3   7  10000U   41   M      19          2
190       33    3     4     3   7  10000U   41   M      20          2
191       33    4     8     3   7  10000U   41   M      27          2
192       33    5    12     3   7  10000U   41   M      29          2
193       33    6    16     3   7  10000U   41   M      32          2
34
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
194       34    1     0     3   8  Placebo   56   M      33          0
195       34    2     2     3   8  Placebo   56   M      38          0
196       34    3     4     3   8  Placebo   56   M      40          0
197       34    4     8     3   8  Placebo   56   M      48          0
198       34    5    12     3   8  Placebo   56   M      49          0
199       34    6    16     3   8  Placebo   56   M      44          0
35
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
200       35    1     0     3   9  5000U   46   F      28          1
201       35    2     2     3   9  5000U   46   F      16          1
202       35    3     4     3   9  5000U   46   F      11          1
203       35    4     8     3   9  5000U   46   F       7          1
204       35    5    12     3   9  5000U   46   F      13          1
205       35    6    16     3   9  5000U   46   F      21          1
36
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
206       36    1     0     3  10  10000U   46   F      34          2
207       36    2     2     3  10  10000U   46   F      23          2
208       36    3     4     3  10  10000U   46   F      16          2
209       36    4     8     3  10  10000U   46   F      15          2
210       36    5    12     3  10  10000U   46   F      17          2
211       36    6    16     3  10  10000U   46   F      29          2
37
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
212       37    1     0     3  11  Placebo   47   F      39          0
213       37    2     2     3  11  Placebo   47   F      37          0
214       37    3     4     3  11  Placebo   47   F      39          0
215       37    4     8     3  11  Placebo   47   F      39          0
216       37    5    12     3  11  Placebo   47   F      45          0
217       37    6    16     3  11  Placebo   47   F      43          0
38
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
218       38    1     0     3  12  5000U   35   M      29          1
219       38    2     2     3  12  5000U   35   M      42          1
220       38    3     4     3  12  5000U   35   M      35          1
221       38    4     8     3  12  5000U   35   M      24          1
222       38    5    12     3  12  5000U   35   M      29          1
223       38    6    16     3  12  5000U   35   M      42          1
39
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
224       39    1     0     4   1  Placebo   58   M      52          0
225       39    2     2     4   1  Placebo   58   M      55          0
226       39    3     4     4   1  Placebo   58   M      51          0
227       39    4     8     4   1  Placebo   58   M      52          0
228       39    5    12     4   1  Placebo   58   M      54          0
229       39    6    16     4   1  Placebo   58   M      57          0
40
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
230       40    1     0     4   2  5000U   62   F      52          1
231       40    2     2     4   2  5000U   62   F      30          1
232       40    3     4     4   2  5000U   62   F      43          1
233       40    4     8     4   2  5000U   62   F      45          1
234       40    5    12     4   2  5000U   62   F      47          1
235       40    6    16     4   2  5000U   62   F      46          1
41
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
236       41    1     0     4   3  10000U   73   F      54          2
237       41    2     2     4   3  10000U   73   F      52          2
238       41    3     4     4   3  10000U   73   F      52          2
239       41    4     8     4   3  10000U   73   F      54          2
240       41    5    12     4   3  10000U   73   F      51          2
241       41    6    16     4   3  10000U   73   F      57          2
42
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
242       42    1     0     4   4  10000U   52   F      52          2

     patient  obs  week  site  id    treat  age sex  twstrs  treatment
305       53    1     0     6   1  Placebo   43   M      54          0
306       53    2     2     6   1  Placebo   43   M      53          0
307       53    3     4     6   1  Placebo   43   M      51          0
308       53    4     8     6   1  Placebo   43   M      56          0
309       53    5    12     6   1  Placebo   43   M      39          0
310       53    6    16     6   1  Placebo   43   M       9          0
54
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
311       54    1     0     6   2  10000U   64   F      54          2
312       54    2     2     6   2  10000U   64   F      32          2
313       54    3     4     6   2  10000U   64   F      40          2
314       54    4     8     6   2  10000U   64   F      52          2
315       54    5    12     6   2  10000U   64   F      42          2
316       54    6    16     6   2  10000U   64   F      47          2
55
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
317       55    1     0     6   3  5000U   57   M      56          1
318       55    2     2     6   3  5000U   57   M      55          1
319       55    3     4     6   3  5000U   57   M      44          1
320       55    4     8     6   3  5000U   57   M      50          1
321       55    5    12     6   3  5000U   57   M      53          1
322       55    6    16     6   3  5000U   57   M      52          1
56
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
323       56    1     0     6   4  5000U   60   F      51          1
324       56    2     2     6   4  5000U   60   F      50          1
325       56    3     4     6   4  5000U   60   F      50          1
326       56    4     8     6   4  5000U   60   F      56          1
327       56    5    12     6   4  5000U   60   F      59          1
328       56    6    16     6   4  5000U   60   F      53          1
57
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
329       57    1     0     6   5  10000U   44   F      53          2
330       57    2     2     6   5  10000U   44   F      56          2
331       57    3     4     6   5  10000U   44   F      47          2
332       57    4     8     6   5  10000U   44   F      53          2
333       57    5    12     6   5  10000U   44   F      51          2
334       57    6    16     6   5  10000U   44   F      51          2
58
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
335       58    1     0     6   6  Placebo   41   F      36          0
336       58    2     2     6   6  Placebo   41   F      29          0
337       58    3     4     6   6  Placebo   41   F      24          0
338       58    4     8     6   6  Placebo   41   F      32          0
339       58    5    12     6   6  Placebo   41   F      45          0
340       58    6    16     6   6  Placebo   41   F      36          0
59
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
341       59    1     0     6   7  5000U   51   F      59          1
342       59    2     2     6   7  5000U   51   F      53          1
343       59    3     4     6   7  5000U   51   F      45          1
344       59    4     8     6   7  5000U   51   F      44          1
345       59    5    12     6   7  5000U   51   F      50          1
346       59    6    16     6   7  5000U   51   F      48          1
60
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
347       60    1     0     6   8  Placebo   57   F      49          0
348       60    2     2     6   8  Placebo   57   F      50          0
349       60    3     4     6   8  Placebo   57   F      48          0
350       60    4     8     6   8  Placebo   57   F      56          0
351       60    5    12     6   8  Placebo   57   F      49          0
352       60    6    16     6   8  Placebo   57   F      57          0
61
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
353       61    1     0     6   9  10000U   42   F      50          2
354       61    2     2     6   9  10000U   42   F      38          2
355       61    3     4     6   9  10000U   42   F      42          2
356       61    4     8     6   9  10000U   42   F      43          2
357       61    5    12     6   9  10000U   42   F      42          2
358       61    6    16     6   9  10000U   42   F      46          2
62
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
359       62    1     0     6  10  Placebo   48   F      46          0
360       62    2     2     6  10  Placebo   48   F      48          0
361       62    3     4     6  10  Placebo   48   F      46          0
362       62    4     8     6  10  Placebo   48   F      57          0
363       62    5    12     6  10  Placebo   48   F      57          0
364       62    6    16     6  10  Placebo   48   F      49          0
63
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
365       63    1     0     6  11  10000U   57   M      55          2
366       63    2     2     6  11  10000U   57   M      34          2
367       63    3     4     6  11  10000U   57   M      26          2
368       63    4     8     6  11  10000U   57   M      40          2
369       63    5    12     6  11  10000U   57   M      49          2
370       63    6    16     6  11  10000U   57   M      47          2
64
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
371       64    1     0     6  12  5000U   39   M      46          1
372       64    2     2     6  12  5000U   39   M      44          1
373       64    3     4     6  12  5000U   39   M      47          1
374       64    4     8     6  12  5000U   39   M      50          1
375       64    5    12     6  12  5000U   39   M      46          1
376       64    6    16     6  12  5000U   39   M      51          1
65
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
377       65    1     0     6  13  10000U   67   M      34          2
378       65    2     2     6  13  10000U   67   M      31          2
379       65    3     4     6  13  10000U   67   M      25          2
66
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
380       66    1     0     6  14  5000U   39   F      57          1
381       66    2     2     6  14  5000U   39   F      48          1
382       66    3     4     6  14  5000U   39   F      50          1
383       66    4     8     6  14  5000U   39   F      50          1
384       66    5    12     6  14  5000U   39   F      50          1
385       66    6    16     6  14  5000U   39   F      49          1
67
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
386       67    1     0     6  15  Placebo   69   M      41          0
387       67    2     2     6  15  Placebo   69   M      40          0
388       67    3     4     6  15  Placebo   69   M      42          0
389       67    4     8     6  15  Placebo   69   M      38          0
390       67    5    12     6  15  Placebo   69   M      50          0
391       67    6    16     6  15  Placebo   69   M      56          0
68
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
392       68    1     0     7   1  5000U   54   F      49          1
393       68    2     2     7   1  5000U   54   F      25          1
394       68    3     4     7   1  5000U   54   F      30          1
395       68    4     8     7   1  5000U   54   F      41          1
396       68    5    12     7   1  5000U   54   F      41          1
397       68    6    16     7   1  5000U   54   F      31          1
69
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
398       69    1     0     7   2  Placebo   67   F      42          0
399       69    2     2     7   2  Placebo   67   F      30          0
400       69    3     4     7   2  Placebo   67   F      40          0
401       69    4     8     7   2  Placebo   67   F      43          0
402       69    5    12     7   2  Placebo   67   F      36          0
403       69    6    16     7   2  Placebo   67   F      45          0
70
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
404       70    1     0     7   3  10000U   58   F      31          2
405       70    2     2     7   3  10000U   58   F      18          2
406       70    3     4     7   3  10000U   58   F      23          2
407       70    4     8     7   3  10000U   58   F      26          2
408       70    5    12     7   3  10000U   58   F      33          2
409       70    6    16     7   3  10000U   58   F      41          2
71
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
410       71    1     0     7   4  Placebo   72   F      50          0
411       71    2     2     7   4  Placebo   72   F      27          0
412       71    3     4     7   4  Placebo   72   F      43          0
413       71    4     8     7   4  Placebo   72   F      32          0
414       71    5    12     7   4  Placebo   72   F      40          0
415       71    6    16     7   4  Placebo   72   F      47          0
72
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
416       72    1     0     7   5  10000U   65   F      35          2
417       72    2     2     7   5  10000U   65   F      24          2
418       72    3     4     7   5  10000U   65   F      34          2
419       72    4     8     7   5  10000U   65   F      28          2
420       72    5    12     7   5  10000U   65   F      34          2
421       72    6    16     7   5  10000U   65   F      28          2
73
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
422       73    1     0     7   6  5000U   68   F      38          1
423       73    2     2     7   6  5000U   68   F      25          1
424       73    3     4     7   6  5000U   68   F      21          1
425       73    4     8     7   6  5000U   68   F      33          1
426       73    5    12     7   6  5000U   68   F      42          1
427       73    6    16     7   6  5000U   68   F      53          1
74
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
428       74    1     0     7   7  10000U   75   F      53          2
429       74    2     2     7   7  10000U   75   F      40          2
430       74    3     4     7   7  10000U   75   F      38          2
431       74    4     8     7   7  10000U   75   F      44          2
432       74    5    12     7   7  10000U   75   F      47          2
433       74    6    16     7   7  10000U   75   F      53          2
75
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
434       75    1     0     7   8  Placebo   26   F      42          0
435       75    2     2     7   8  Placebo   26   F      48          0
436       75    3     4     7   8  Placebo   26   F      26          0
437       75    4     8     7   8  Placebo   26   F      37          0
438       75    5    12     7   8  Placebo   26   F      37          0
439       75    6    16     7   8  Placebo   26   F      43          0
76
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
440       76    1     0     7   9  5000U   36   F      53          1
441       76    2     2     7   9  5000U   36   F      45          1
442       76    3     4     7   9  5000U   36   F      52          1
443       76    4     8     7   9  5000U   36   F      51          1
444       76    5    12     7   9  5000U   36   F      52          1
445       76    6    16     7   9  5000U   36   F      53          1
77
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
446       77    1     0     7  10  10000U   72   M      46          2
447       77    2     2     7  10  10000U   72   M      47          2
448       77    3     4     7  10  10000U   72   M      45          2
449       77    4     8     7  10  10000U   72   M      45          2
450       77    5    12     7  10  10000U   72   M      50          2
451       77    6    16     7  10  10000U   72   M      52          2
78
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
452       78    1     0     7  11  Placebo   54   F      50          0
453       78    2     2     7  11  Placebo   54   F      42          0
454       78    3     4     7  11  Placebo   54   F      52          0
455       78    4     8     7  11  Placebo   54   F      60          0
456       78    5    12     7  11  Placebo   54   F      54          0
457       78    6    16     7  11  Placebo   54   F      59          0
79
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
458       79    1     0     7  12  5000U   64   F      43          1
459       79    2     2     7  12  5000U   64   F      24          1
460       79    3     4     7  12  5000U   64   F      17          1
461       79    4     8     7  12  5000U   64   F      37          1
462       79    5    12     7  12  5000U   64   F      36          1
463       79    6    16     7  12  5000U   64   F      38          1
80
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
464       80    1     0     8   1  Placebo   39   F      46          0
465       80    2     2     8   1  Placebo   39   F      39          0
466       80    3     4     8   1  Placebo   39   F      25          0
467       80    4     8     8   1  Placebo   39   F      15          0
468       80    5    12     8   1  Placebo   39   F      21          0
469       80    6    16     8   1  Placebo   39   F      25          0
81
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
470       81    1     0     8   2  10000U   54   M      41          2
471       81    2     2     8   2  10000U   54   M      30          2
472       81    3     4     8   2  10000U   54   M      44          2
473       81    4     8     8   2  10000U   54   M      46          2
474       81    5    12     8   2  10000U   54   M      46          2
475       81    6    16     8   2  10000U   54   M      44          2
82
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
476       82    1     0     8   3  5000U   48   M      33          1
477       82    2     2     8   3  5000U   48   M      27          1
478       82    3     4     8   3  5000U   48   M      25          1
479       82    4     8     8   3  5000U   48   M      30          1
480       82    5    12     8   3  5000U   48   M      28          1
481       82    6    16     8   3  5000U   48   M      30          1
83
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
482       83    1     0     8   4  5000U   83   F      36          1
483       83    2     2     8   4  5000U   83   F      15          1
484       83    3     4     8   4  5000U   83   F      16          1
485       83    4     8     8   4  5000U   83   F      17          1
486       83    5    12     8   4  5000U   83   F      22          1
487       83    6    16     8   4  5000U   83   F      41          1
84
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
488       84    1     0     8   5  10000U   74   M      33          2
489       84    2     2     8   5  10000U   74   M      32          2
490       84    3     4     8   5  10000U   74   M      31          2
491       84    4     8     8   5  10000U   74   M      27          2
492       84    5    12     8   5  10000U   74   M      49          2
493       84    6    16     8   5  10000U   74   M      60          2
85
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
494       85    1     0     8   6  Placebo   41   M      37          0
86
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
495       86    1     0     8   7  10000U   65   F      24          2
496       86    2     2     8   7  10000U   65   F      29          2
497       86    3     4     8   7  10000U   65   F      18          2
498       86    4     8     8   7  10000U   65   F      20          2
499       86    5    12     8   7  10000U   65   F      25          2
500       86    6    16     8   7  10000U   65   F      41          2
87
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
501       87    1     0     8   8  5000U   79   M      42          1
502       87    2     2     8   8  5000U   79   M      23          1
503       87    3     4     8   8  5000U   79   M      30          1
504       87    4     8     8   8  5000U   79   M      36          1
505       87    5    12     8   8  5000U   79   M      41          1
506       87    6    16     8   8  5000U   79   M      43          1
88
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
507       88    1     0     8   9  Placebo   63   M      30          0
508       88    2     2     8   9  Placebo   63   M      22          0
509       88    3     4     8   9  Placebo   63   M      21          0
510       88    4     8     8   9  Placebo   63   M      25          0
511       88    5    12     8   9  Placebo   63   M      26          0
512       88    6    16     8   9  Placebo   63   M      33          0
89
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
513       89    1     0     8  10  Placebo   63   F      42          0
514       89    2     2     8  10  Placebo   63   F      46          0
515       89    3     4     8  10  Placebo   63   F      41          0
516       89    4     8     8  10  Placebo   63   F      43          0
517       89    5    12     8  10  Placebo   63   F      49          0
518       89    6    16     8  10  Placebo   63   F      54          0
90
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
519       90    1     0     8  11  10000U   34   F      49          2
520       90    2     2     8  11  10000U   34   F      25          2
521       90    3     4     8  11  10000U   34   F      30          2
522       90    4     8     8  11  10000U   34   F      49          2
523       90    5    12     8  11  10000U   34   F      55          2
524       90    6    16     8  11  10000U   34   F      58          2
91
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
525       91    1     0     8  12  5000U   42   M      58          1
526       91    2     2     8  12  5000U   42   M      46          1
527       91    3     4     8  12  5000U   42   M      46          1
528       91    4     8     8  12  5000U   42   M      50          1
529       91    5    12     8  12  5000U   42   M      56          1
530       91    6    16     8  12  5000U   42   M      60          1
92
     patient  obs  week  site  id    treat  age sex  twstrs  treatment
531       92    1     0     8  13  Placebo   57   M      26          0
532       92    2     2     8  13  Placebo   57   M      26          0
533       92    3     4     8  13  Placebo   57   M      27          0
534       92    4     8     8  13  Placebo   57   M      22          0
535       92    5    12     8  13  Placebo   57   M      38          0
536       92    6    16     8  13  Placebo   57   M      35          0
93
     patient  obs  week  site  id  treat  age sex  twstrs  treatment
537       93    1     0     8  14  5000U   68   M      37          1
538       93    3     4     8  14  5000U   68   M      23          1
539       93    4     8     8  14  5000U   68   M      18          1
540       93    5    12     8  14  5000U   68   M      34          1
541       93    6    16     8  14  5000U   68   M      36          1
94
     patient  obs  week  site  id   treat  age sex  twstrs  treatment
542       94    1     0     8  15  10000U   51   M      40          2
543       94    2     2     8  15  10000U   51   M      24          2
544       94    3     4     8  15  10000U   51   M      25          2
545       94    4     8     8  15  10000U   51   M      37          2
546       94    6    16     8  15  10000U   51   M      38          2

A common data analysis procedure is the **split-apply-combine** operation, which groups subsets of data together, applies a function to each of the groups, then recombines them into a new data table.

For example, we may want to aggregate our data with with some function.

![split-apply-combine](http://f.cl.ly/items/0s0Z252j0X0c3k3P1M47/Screen%20Shot%202013-06-02%20at%203.04.04%20PM.png)

<div align="right">*(figure taken from "Python for Data Analysis", p.251)*</div>

We can aggregate in Pandas using the `aggregate` (or `agg`, for short) method:

In [39]:
agg_df = cdystonia_grouped.agg(np.mean)
print (type(agg_df))
print (agg_df.head(10))

<class 'pandas.core.frame.DataFrame'>
   patient  obs  week  site    id   age     twstrs  treatment
0      1.0  3.5   7.0   1.0   1.0  65.0  33.000000        1.0
1      2.0  3.5   7.0   1.0   2.0  70.0  47.666667        2.0
2      3.0  3.5   7.0   1.0   3.0  64.0  30.500000        1.0
3      4.0  2.5   3.5   1.0   4.0  59.0  60.000000        0.0
4      5.0  3.5   7.0   1.0   5.0  76.0  46.166667        2.0
5      6.0  3.5   7.0   1.0   6.0  59.0  45.500000        2.0
6      7.0  3.5   7.0   1.0   7.0  72.0  39.500000        1.0
7      8.0  3.5   7.0   1.0   8.0  40.0  30.833333        0.0
8      9.0  3.5   7.0   1.0   9.0  52.0  35.833333        1.0
9     10.0  3.5   7.0   1.0  10.0  47.0  20.000000        0.0

Notice that the `treat` and `sex` variables are not included in the aggregation. Since it does not make sense to aggregate non-string variables, these columns are simply ignored by the method.

Some aggregation functions are so common that Pandas has a convenience method for them, such as `mean`:

In [40]:
cdystonia_grouped.mean().head()

   patient  obs  week  site   id   age     twstrs  treatment
0      1.0  3.5   7.0   1.0  1.0  65.0  33.000000        1.0
1      2.0  3.5   7.0   1.0  2.0  70.0  47.666667        2.0
2      3.0  3.5   7.0   1.0  3.0  64.0  30.500000        1.0
3      4.0  2.5   3.5   1.0  4.0  59.0  60.000000        0.0
4      5.0  3.5   7.0   1.0  5.0  76.0  46.166667        2.0

The `add_prefix` and `add_suffix` methods can be used to give the columns of the resulting table labels that reflect the transformation:

In [41]:
agg_df = cdystonia_grouped.mean().add_suffix('_mean')
agg_df.head()

,patient_mean,obs_mean,week_mean,site_mean,id_mean,age_mean,twstrs_mean,treatment_mean
0,1.0,3.5,7.0,1.0,1.0,65.0,33.000000,1.0
1,2.0,3.5,7.0,1.0,2.0,70.0,47.666667,2.0
2,3.0,3.5,7.0,1.0,3.0,64.0,30.500000,1.0
3,4.0,2.5,3.5,1.0,4.0,59.0,60.000000,0.0
4,5.0,3.5,7.0,1.0,5.0,76.0,46.166667,2.0

If we wish, we can easily aggregate according to multiple keys:

In [42]:
cdystonia.groupby(['week','site']).mean().head()

           patient  obs   id        age     twstrs  treatment
week site
0    1         6.5  1.0  6.5  59.000000  43.083333   1.000000
     2        19.5  1.0  7.5  53.928571  51.857143   0.928571
     3        32.5  1.0  6.5  51.500000  38.750000   1.000000
     4        42.5  1.0  4.5  59.250000  48.125000   1.000000
     5        49.5  1.0  3.5  51.833333  49.333333   1.000000

After aggreation, you can merge the mean values with the original dataset

In [43]:
merge_df = pd.merge(cdystonia, agg_df, left_on='patient', right_on='patient_mean')
merge_df.head()

,patient,obs,week,site,id,treat,age,sex,twstrs,treatment,patient_mean,obs_mean,week_mean,site_mean,id_mean,age_mean,twstrs_mean,treatment_mean
0,1,1,0,1,1,5000U,65,F,32,1,1.0,3.5,7.0,1.0,1.0,65.0,33.0,1.0
1,1,2,2,1,1,5000U,65,F,30,1,1.0,3.5,7.0,1.0,1.0,65.0,33.0,1.0
2,1,3,4,1,1,5000U,65,F,24,1,1.0,3.5,7.0,1.0,1.0,65.0,33.0,1.0
3,1,4,8,1,1,5000U,65,F,37,1,1.0,3.5,7.0,1.0,1.0,65.0,33.0,1.0
4,1,5,12,1,1,5000U,65,F,39,1,1.0,3.5,7.0,1.0,1.0,65.0,33.0,1.0

What if you want to replace the variable values with the means?

In [44]:
cdystonia.groupby('patient').transform(np.mean).head()

   obs  week  site  id  age  twstrs  treatment
0  3.5   7.0     1   1   65    33.0          1
1  3.5   7.0     1   1   65    33.0          1
2  3.5   7.0     1   1   65    33.0          1
3  3.5   7.0     1   1   65    33.0          1
4  3.5   7.0     1   1   65    33.0          1